# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Database
database/*.sqlite

# Uploads (Optional: Uncomment if you don't want to commit user uploads)
# public/images/
# public/videos/
# public/docs/

# IDEs
.vscode/
.idea/
.vercelignore
