version: '3.8'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - SESSION_SECRET=ouma_machinery_secret_key_docker
    volumes:
      - ./database:/app/database
      - ./public/images:/app/public/images
      - ./public/videos:/app/public/videos
    restart: always
